body {
    background-color: black;
    color: white;
}

#grid-container {
    display: flex;
    width: 50%;
    /*border: 1px solid black;*/
}

#grid-container::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.squares {
    background-color: #fafafa;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.column {
    flex: 1;
    border: 1px solid #f0f0f0;

}
