/* GENERAL STYLES */
html {
    min-height: 100%;
}

body {
    background-color: black;
    color: white;
    font: 1.3em Montserrat;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: .5em;
    font: 4em Orbitron;
    text-shadow: 
        0 0 10px white,
        0 0 20px white,
        0 0 50px magenta,
        0 0 75px magenta,
        0 0 100px magenta;
}

/* GRID STYLES */
.grid {
    display: flex;
    flex: 2;
}

#grid-container {
    display: flex;
    width: 53%;
}

#grid-container::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.squares {
    background-color: #fafafa;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.column {
    flex: 1;
    border: 1px solid #f0f0f0;

}

/* MENU STYLES */
.content {
    display: flex;
}

.menu {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#color-picker {
    width: 48%;
    height: 10%;
    margin: 1em auto;
    border-radius: 10px;
}

#color-picker:hover {
    transform: scale(1.05, 1.05);
    transition: 0.25s;
}

button {
    background: inherit;
    color: inherit;
    font: inherit;
    border: 4px solid white;
}

button:hover {
    transform: scale(1.05, 1.05);
    transition: 0.25s;
}

#eraser {
    width: 50%;
    height: 10%;
    margin: 1em auto;
    border-radius: 10px;
}

#clear-grid {
    width: 50%;
    height: 10%;
    margin: 1em auto;
    border-radius: 10px;
}

div.grid-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 1em auto;
}

input#grid-size {
    width: 100%;
    height: 20px;
}

